<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope='shop'>
            <name>tawk_website_id</name>
            <label lang="de">Website ID</label>
            <label lang="en">Website ID</label>
        </element>
    </elements>
</config>
