<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">infx Amazon ESD Sync</label>
    <label lang="en">infx Amazon ESD Sync</label>

    <version>1.0.0</version>
    <author>innoFOX</author>
	<link>https://innofox.de</link>
    <compatibility minVersion="5.3.0"/>
</plugin>
