#routes{margin-top: 20px!important}
#routes .btn{font-weight: 300!important}
#route{margin-top: 20px!important}

.apc--dates{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
form{
    padding:0!important;
}
.form-group select{
    width: 100%!important;
}
.form-group input{
    width: 100%!important;
}

.form-group {
    width: 100%!important;
}

th{
    vertical-align: middle!important;
    width: 15%!important;
}
td{
    width: 27%!important;
}
