<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>ApcAmazon</name>
            <label lang="en">Amazon Configuration</label>
            <label lang="de">Amazon Configuration</label>
            <controller>ApcAmazon</controller>
            <action>index</action>
            <class>sprite-box</class>
            <parent identifiedBy="controller">Customer</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("ApcAmazon", { "title": "ApcAmazon" })</onclick>
        </entry>
    </entries>
</menu>
